force-app/main/default/flows/CaseEscalationL1_L2_L3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignToL2Queue</name>
        <label>AssignToL2Queue</label>
        <locationX>50</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>GetCaseRecords.Case_Status_Queus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToL3</name>
        <label>AssignToL3</label>
        <locationX>222</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>GetCaseRecords.Case_Status_Queus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseRecordToL3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRecordIsInQueues</name>
        <label>CheckRecordIsInQueues</label>
        <locationX>134</locationX>
        <locationY>36</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EscalateToL2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseRecords.Case_Status_Queus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToL2Queue</targetReference>
            </connector>
            <label>EscalateToL2</label>
        </rules>
        <rules>
            <name>EscalateToL3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseRecords.Case_Status_Queus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToL3</targetReference>
            </connector>
            <label>EscalateToL3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CaseEscalationL1-L2-L3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseEscalationL1-L2-L3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCaseRecords</name>
        <label>GetCaseRecords</label>
        <locationX>502</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecordIsInQueues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseRecord</name>
        <label>UpdateCaseRecordToL2</label>
        <locationX>51</locationX>
        <locationY>264</locationY>
        <inputReference>GetCaseRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseRecordToL3</name>
        <label>UpdateCaseRecordToL3</label>
        <locationX>223</locationX>
        <locationY>275</locationY>
        <inputReference>GetCaseRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>387</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetCaseRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
