force-app/main/default/flows/ChangefewStatusNotifyClient.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailToClient</name>
        <label>EmailToClient</label>
        <locationX>240</locationX>
        <locationY>323</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailToClientNotify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ClientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectForEmailToclient</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>StatusChangeChecking</name>
        <label>StatusChangeChecking</label>
        <locationX>180</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>status not change</defaultConnectorLabel>
        <rules>
            <name>StatusIsChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailToClient</targetReference>
            </connector>
            <label>StatusIsChanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ClientEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Contact.Email}</expression>
    </formulas>
    <interviewLabel>ChangefewStatusNotifyClient {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChangefewStatusNotifyClient</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>311</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>StatusChangeChecking</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailToClientNotify</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {{!$Record.Owner:User.CompanyName}},&lt;/p&gt;&lt;p&gt;We wanted to let you know that the status of your case ({!$Record.CaseNumber}) has been updated. The new status is: {!$Record.Status}.&lt;/p&gt;&lt;p&gt;If you have any questions or concerns about this update, please don&apos;t hesitate to reach out to us.&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;{!$Record.Owner:User.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectForEmailToclient</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;nbsp;[{!$Record.CaseNumber}]: Status Update&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ClientEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
