force-app/main/default/flows/UpdateOldNewOwner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailToOldandnew</name>
        <label>SendEmailToOldandnew</label>
        <locationX>120</locationX>
        <locationY>261</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OLdNewOwnerEmailNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>OldNewEmailNotificationEmailaddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforOldNewOwnerNotification</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Ownershipchangedetection</name>
        <label>Ownershipchangedetection</label>
        <locationX>91</locationX>
        <locationY>24</locationY>
        <defaultConnectorLabel>OutcomNotChange</defaultConnectorLabel>
        <rules>
            <name>OwnerdetectionChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToOldandnew</targetReference>
            </connector>
            <label>OwnerdetectionChange</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateOldNewOwner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOldNewOwner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>271</locationX>
        <locationY>1</locationY>
        <connector>
            <targetReference>Ownershipchangedetection</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OldNewEmailNotificationEmailaddress</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record__Prior.Owner:User.Email}, {!$Record.Owner:User.Email}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OLdNewOwnerEmailNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear  {!$Record.Owner:User.Name}&lt;/p&gt;&lt;p&gt;The owner of case {!$Record.CaseNumber} - {!$Record.Subject} has been changed.&lt;/p&gt;&lt;p&gt;Please make sure to coordinate with each other to ensure that there is no interruption in support for this case. If you have any questions or require additional information, please do not hesitate to contact us.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;{!$Record.Owner:User.Name}.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectforOldNewOwnerNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;nbsp;Case Owner Changed: {!$Record.CaseNumber} - {!$Record.Subject}.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>OldNewOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a</stringValue>
        </value>
    </variables>
    <variables>
        <name>OldOwnerEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OldOwnerEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
